/**
 * Additional CSS for Simple template
 * @author Michael Klier <chi@chimeric.de>
 */

div.dokuwiki .stylehead {
  background: url(images/kubrickheader.jpg) no-repeat;
}

div.dokuwiki .header {
  padding: 0;
  height: 200px;
  text-align: center;
}

div.dokuwiki .logo {
  float: none;
  text-align: center;
  height: 200px;
}

div.dokuwiki .logo a {
  display: block;
  font-size: 150%;
  color: __logo_color__ !important;
  padding-top: 100px;
  padding-bottom: 100px;
  height: 100px;
}

div.dokuwiki div.meta {
  padding: 0 250px 0 20px;
}

div.dokuwiki div.meta div.user,
div.dokuwiki div.meta div.doc {
  float: none;
  text-align: right;
}

div.dokuwiki div.footerinc div.license {
  display: inline;
  padding: 0;
  font-size: 100%;
}

div.dokuwiki div.footerinc div.license img {
  float: none;
  margin: 0;
}
